In [1]:
#import Dependencies
import pandas as pd


#Read CSV
mydf=pd.read_csv("data.csv")

In [37]:
#RESULT of player count
total=len(mydf['SN'].value_counts())
totalplayers=pd.DataFrame({"Total Players":[total]})
totalplayers

   Total Players
0            576

In [ ]:

Purchasing Analysis (Total)

Number of Unique Items
Average Purchase Price
Total Number of Purchases
Total Revenue

In [5]:
uniqueitems=len(mydf["Item ID"].unique())
uniqueitems
avg=mydf["Price"].mean()
avg
totalpurchases=len(mydf["Purchase ID"])
totalpurchases
totalrevenue=mydf["Price"].sum()

In [6]:
#RESULT
Purchasing_Analysis=pd.DataFrame({"Number of Unique Items": [uniqueitems],"Average Purchase Price": [avg],"Total Number of Purchases": [totalpurchases],"Total Revenue":[totalrevenue]})
Purchasing_Analysis
Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"] .map("${:.2f}".format)
Purchasing_Analysis
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("{:,}".format)
Purchasing_Analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"2,379.77"

In [8]:
gender_df=mydf.groupby(["Gender"])
print(gender_df)
gender_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x10dc6ab10>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [14]:
total_gender=gender_df["SN"].nunique()

total_players=total_gender.sum()
total_players
percentage=round(total_gender/total_players*100,2) 
percentage
gender_demo=pd.DataFrame({"Total Count": total_gender,"Percentage of Players": percentage})

In [15]:
#RESULT
gender_demo=pd.DataFrame({"Total Count": total_gender,"Percentage of Players": percentage})
gender_demo

Gender_Demographics=gender_demo.sort_values(["Total Count"],ascending = False)
#Gender_Demographics["Percentage of Players"]=Gender_Demographics["Percentage of Players"].map("{:}%").format
Gender_Demographics

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [ ]:
Purchasing Analysis (Gender)
 
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [24]:
purchase_count=gender_df["Purchase ID"].count()
purchase_count
avg_purchase_price=round(gender_df["Price"].mean(),2)
avg_purchase_price
total_purchase=gender_df["Price"].sum()
total_purchase
avg_total_person=round(total_purchase/total_gender,2)
avg_total_person
Purchasing_Analysis=pd.DataFrame({"Purchase Count" : purchase_count,"Average Purchase Price" : avg_purchase_price,"Total Purchase Value": total_purchase,"Avg Total Purchase per Person":avg_total_person})
Purchasing_Analysis
Cleaned_df=Purchasing_Analysis.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})
Cleaned_df

In [ ]:
Age Demographics
 
Establish bins for ages


Categorize the existing players using the age bins. Hint: use pd.cut()


Calculate the numbers and percentages by age group


Create a summary data frame to hold the results


Optional: round the percentage column to two decimal points


Display Age Demographics Table

In [40]:
#RESULT
age_bins = [0, 9.11, 14.11, 19.11, 24.11, 29.11, 34.11, 39.11, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
mydf["AG"] = pd.cut(mydf["Age"],bins=age_bins, labels=age_labels,include_lowest=True )
mydf
age_group_df = mydf.groupby("AG")
totalcountbyage = age_group_df["SN"].nunique()
per=round((totalcountbyage/total)*100,2)
age_demo_df=pd.DataFrame({"Total Count":totalcountbyage,"Percentage of players":per})
age_demo_df.index.name=None
print(age_demo_df)

       Total Count  Percentage of players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [ ]:
 Purchasing Analysis (Age)
 
Bin the purchase_data data frame by age


Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [68]:
#RESULT
purchase_count_byage=age_group_df["Purchase ID"].count()

purchase_count_byage
Avg_purchase_price=round(age_group_df["Price"].mean(),2)
Avg_purchase_price
total_purchase_value=age_group_df["Price"].sum()
total_purchase_value
avg_totalpurchaseper_person=round(total_purchase_value/totalcountbyage,2)
avg_totalpurchaseper_person
purchase_analysis_df=pd.DataFrame({"Purchase Count":purchase_count_byage,"Average Purchase Price":Avg_purchase_price,"Total Purchase Value":total_purchase_value,"Average Total Purchase per person":avg_totalpurchaseper_person})
purchase_analysis_df["Total Purchase Value"]=purchase_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_df["Average Purchase Price"]=purchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_df["Average Total Purchase per person"]=purchase_analysis_df["Average Total Purchase per person"].map("${:.2f}".format)
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [ ]:
 Top Spenders
 
Run basic calculations to obtain the results in the table below


Create a summary data frame to hold the results


Sort the total purchase value column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

In [34]:
#RESULT
topspenders=mydf.groupby("SN")
topspenders.count()
purchase_count=topspenders["Purchase ID"].count()
purchase_count
avg_purchase_price=round(topspenders["Price"].mean(),2)
avg_purchase_price
total_purchase=round(topspenders["Price"].sum(),2)
total_purchase
topspenders_df=pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_purchase_price,"Total Purchase Value":total_purchase})
topspenders_df
formated_df=topspenders_df.sort_values(["Total Purchase Value"],ascending=False)
formated_df["Average Purchase Price"]=formated_df["Average Purchase Price"].map("${:.2f}".format)
formated_df["Total Purchase Value"]=formated_df["Total Purchase Value"].map("${:.2f}".format)
formated_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [ ]:
 Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns


Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


Create a summary data frame to hold the results


Sort the purchase count column in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the summary data frame

In [32]:
#RESULT
item_df=mydf[["Item ID", "Item Name", "Price"]]
item_df
item_id_grp=item_df.groupby(["Item ID","Item Name"])
item_id_grp.count()
purchase_count=item_id_grp["Price"].count()
purchase_sum=item_id_grp["Price"].sum()
item_price=purchase_sum/purchase_count
most_pop_items=pd.DataFrame({"Purchase Count":purchase_count,"Item Price":item_price,"Total Purchase Value":purchase_sum})
most_pop_items
sorted_df=most_pop_items.sort_values("Purchase Count",ascending=False)
sorted_df["Item Price"]=sorted_df["Item Price"].map("${:.2f}".format)
sorted_df["Total Purchase Value"]=sorted_df["Total Purchase Value"].map("${:.2f}".format)
sorted_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [ ]:
 Most Profitable Items
 
Sort the above table by total purchase value in descending order


Optional: give the displayed data cleaner formatting


Display a preview of the data frame

In [31]:
#RESULT
sorted_again_df=sorted_df.sort_values("Total Purchase Value",ascending=False)
sorted_again_df["Item Price"]=sorted_again_df["Item Price"].map("${:.2f}".format)
sorted_again_df["Total Purchase Value"]=sorted_again_df["Total Purchase Value"].map("${:.2f}".format)
sorted_again_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
#CONCLUSIONS

1.The purchase count and percentage of players ins more for ages 20-24 and less for 40 puls age people and below 10 yrs kis which shows age factor matters in the game
2.Majority of people i.e., almost 84% of them are males and females are very less i.e., 14% compared to the males
3.in the last result table i found that the item price for most profitable items and less profitable items is just some cents difference but not huge difference